body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

input {
  background-color:black;
}

#invalid {
  background-color: #FFA0A0;
}

.content {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
